<!-- FOOTER -->
<!-- COPY RIGHT -->
<div id="footer" class="copyRight clearfix">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<p>&copy; 2016-<%= Time.now.year %> Copyright Potepan Store .</p>
			</div>
			<div class="col-sm-5 col-xs-12">
				<ul class="list-inline">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
